[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
pandas = "*"
numpy = "*"
flask = "*"
flask-cors = "*"
pyyaml = "*"
torch = "*"
pytorch-lightning = "*"
pycountry = "*"
pycountry-convert = "*"

[requires]
python_version = "3.8"
